.artist-card {
  background-color: #f5f5f5;
  border-left: 4px solid black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  /* margin: 0 20px; */
  text-align: left;
}

.artist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.instagram-icon {
  font-size: 1.2rem;
  color: #e1306c;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.instagram-icon:hover {
  transform: scale(1.2);
}


.artist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 26px;
  width: 100%;
  max-width: 90%;
}

.artist-avatar {
  margin-top: 20px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #000;
  align-self: center;
  background-color: #eee;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

